@using System.Collections.Generic
@using WebApp1.Model.ViewModels
@model List<CourseViewModel>

@foreach(var courses in Model){
<div class="row course">

    <div class="col-md-1">
        <img src="@courses.PathImg" width="52" height="52">
    </div>
    <div class="col-md-1">
        <h4>@courses.Id</h4>
    </div>
    <div class="col-md-5">
        <h2>@courses.NomeCorso</h2>
    </div>
    <div class="col-md-5">
        <h2>@courses.Price</h2>
    </div>
</div>
}